@model EntityLayer.Concrete.Contact

<div class="col-md-9 contact-middle">
				<h2>Bize Yazın</h2>
				<form method="post">
					<div class="form-agileinfo">
						<p>Adınız Soyadınız</p>
						<input type="text" name="your name" placeholder="Adınız Soyadınız" required="" />
						<p>Mail Adresiniz</p>
						<input type="email" name="your email" placeholder="Mail Adresiniz" required="" />
					</div>
					<div class="form-agileits-w3layouts">
						<p>Mesajınız</p>
						<textarea name="your message" placeholder="Mesajınızı yazın..." required=""></textarea>
						<input type="submit" value="Mesajı Gönder">
					</div>
					<div class="clearfix"></div>
				</form>
			</div>