@model CagilEnvironmentUI.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/css/StyleSheet.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4">
                <div class="login-container">
                    <h2>Kayıt Ol</h2>
                    <form method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="username"  asp-for="userName" >
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Şifre</label>
                            <input type="password" class="form-control" id="password"  asp-for="password" >
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Şifre Tekrarı</label>
                            <input type="password" class="form-control" id="confirmPassword"  asp-for="passwordConfirm" >
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="agreeToTerms" name="agreeToTerms" required>
                            <label class="form-check-label" for="agreeToTerms">Tüm şartları okudum ve kabul ediyorum</label>
                        </div>
                        <button class="btn btn-primary">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

</html>